/*Reusable Classes*/
.no-m-top{
	margin-top: 0;
}

.m-top-xs{
	margin-top: rem(5px);	
}

.m-top-sm{
	margin-top: rem(10px);
}

.m-top-md{
	margin-top: rem(15px);
}

.m-top-lg{
	margin-top: rem(20px);
}

.m-top-xl{
	margin-top: rem(25px);
}

.no-m-bottom{
	margin-bottom: 0;
}

.m-bottom-xs{
	margin-bottom: rem(5px);	
}

.m-bottom-sm{
	margin-bottom: rem(10px);
}

.m-bottom-md{
	margin-bottom: rem(15px);
}

.m-bottom-lg{
	margin-bottom: rem(20px);
}

.m-bottom-xl{
	margin-bottom: rem(25px);
}

.btn-orange{
	color: #FFF;
	background-color: $orange;
	border-color: transparent;
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
	text-transform: uppercase;
	font-weight: 600;
	padding: .5rem 1.25rem;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}





.header-nav{
	.user-info {
		> a{
			font-weight: $display1-weight;
			&:first-child{
				margin-right: rem(10px);
			}
		}
		span.divider{
			margin: 0 rem(10px);
		}
	}
	.header-wrapper{
	 	font-family: #{$raleway};
	    text-transform: uppercase;
	    font-size: $font-size-xs;
	    min-height: rem(125px);
	 }
}

@media screen and (min-width: rem(768px)){
	ul.top-menu{
		display:flex;
		margin: 0;
		li{
			flex: 1;
			text-align: center;
		}
	}
}

.flex-container{
	@include display-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.carousel{
	.carousel-item{
		figure{
			margin: 0;
		}
		.caption{
			@include flex-center-horizontal;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			> div{
				@include fluid-width(280, 620);
				margin: auto;	
			}
			h2{
				@include fluid-type(16,28);
				text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.4);
			}
			.display-1{
				@include fluid-type(22.475, 57.331);
			}
		}
	}

	.carousel-control{
		.icon-next i {
			@include fluid-type(21,53);
		}
		.icon-prev i{
			@include fluid-type(21,53);
		}

		@media (min-width: #{$max_width}px){
			&.left {
			    left: calc((100% - 1140px) / 2);
			}

			&.right{
				right: calc((100% - 1140px) / 2);
			}
		}
	}
}

.featured-products{
	h1.products-section-title{
		@include fluid-type(30,38);
		@include fluid-element(0,40,margin-top);
		font-weight: $display1-weight;
		color: $violet;
		margin-bottom: 0;
	}
	h2{
		@include fluid-type(16,20);
		@include fluid-element(10,40,margin-bottom);
		font-weight: $display2-weight;
	    text-align: center;
	}

	.product-miniature{
		&:not(:first-child){
			.thumbnail-container{
				height: 40em;
				@media screen and (max-width: #{max-width}px){
					height: 42.3em;
				}
			}
		}
		&:not(:last-child){
			.product-title{
				background-color: $orange;
			}
		}
		&:last-child{
			.product-title{
				background-color: $blue;
			}
		}
	}



	.product-description{
		span.control-label{
			text-align: left;
		    display: block;
		    margin-bottom: rem(5px);
		}

		.homepage-custom-product-options{
			@include display-flex;
			justify-content: space-between;
			margin: 0 $small-space $small-space $small-space;
			.add-to-cart {
			    width: 65%;
			    display: block;
			    background-color: $violet;
			    &:hover{
			    	background-color: $violet * 1.3;
			    }
			}
			.quantity{
			    width: 30%;
			    padding: 9px 10px;
			    display: block;
			}
		}
		.product-title{
			padding: 1rem 0;
		    margin: 0;
		    a{
		    	color: #FFF;
		    	font-weight: $display1-weight;
		    	font-size: 	1.125rem;
		    }
		}
	}
}

@include media-breakpoint-down(sm) {
	.block_newsletter div div{
		text-align: center;
		h3{
			margin-top: rem(15px);
		}
	}

	.footer-copyright a{
		display: block;
		text-align: center;
	}
}

.footer-copyright{
	background-color: #170d17;
	opacity: 0.6;
	p{
		padding: rem(20px) 0;
		margin: 0;
	}
	a, a:hover{
		color: #FFF;
	}
}



/* FAQ's Page */
.cd-faq-group{
	> li {
	    background: #ffffff;
	    margin-bottom: rem(6px);
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	    -webkit-transition: box-shadow 0.2s;
	    -moz-transition: box-shadow 0.2s;
	    transition: box-shadow 0.2s;
	}
}

.cd-faq-trigger {
	color: $blue;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: left;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
    position: relative;
    display: block;
     &::before, &::after{
     		content: '';
     	    position: absolute;
     	    right: 24px;
     	    top: 50%;
     	    height: 2px;
     	    width: 13px;
     	    background: $orange;
     	    -webkit-backface-visibility: hidden;
     	    backface-visibility: hidden;
     	    -webkit-transition-property: -webkit-transform;
     	    -moz-transition-property: -moz-transform;
     	    transition-property: transform;
     	    -webkit-transition-duration: 0.2s;
     	    -moz-transition-duration: 0.2s;
     	    transition-duration: 0.2s;
     }
     &::before{
     	-webkit-transform: rotate(45deg);
     	-moz-transform: rotate(45deg);
     	-ms-transform: rotate(45deg);
     	-o-transform: rotate(45deg);
     	transform: rotate(45deg);
     	right: 32px;
     }
     &::after{
     	-webkit-transform: rotate(-45deg);
 	    -moz-transform: rotate(-45deg);
 	    -ms-transform: rotate(-45deg);
 	    -o-transform: rotate(-45deg);
 	    transform: rotate(-45deg);
     }
}

.cd-faq-content {
    display: none;
    padding: 0 24px 30px;
}

.content-visible{
	.cd-faq-trigger {
		&::before {
		    -webkit-transform: rotate(-45deg);
		    -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
		&::after {
		    -webkit-transform: rotate(45deg);
		    -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
	}
} 